<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<br>

<h5 style="color: #fff; padding: 10px;"><strong>Mes Brassins</strong></h5>

<% @brews.each do |br|  %>
<div class="col-md-12">
  <section class="profil-panel profils-widget">
  <div class="row">
    <div class="col-md-6">
      <p><%#= br.status %>Citra IPA</p>
      <p>Fermentation en cours ..</p>
    </div>
    <div class="col-md-6">
      <div class="white-panel pn">
        <div class="white-header">
          <h5>Avancement du Brassin</h5>
        </div>
        <canvas id="myChart" width="400" height="400"></canvas>
        <script>
        var ctx = document.getElementById('myChart');
        data = {
            datasets: [{
                data: [10, 20, 30],
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"]
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                'Red',
                'Yellow',
                'Blue'
                ]
            };
        var myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
            options: {
              title: {
                display: true,
                text: 'Progression du Brassin ..'
              }
            }
        });
        </script>
      </div>
    </div>
  </div>
  </section>
</div>
<!--/col-md-12 -->
<% end %>

