.body-background {
  background-color: #F0ECEB;
}

// First Card
.card-trip {
  overflow: hidden;
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.beer_caracteristics {
  padding-left: 0!important;
  padding-right: 0!important;
}

.card-trip > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  opacity: 0.9
}

.card-trip .margin-negative {
  position: absolute;
  margin-top: -170px;
  margin-left: 15%;
  // margin-right: 50%;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.beer-show-name{
  font-family: 'Lato', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.card-trip-infos {
  margin-left: 24px;
}

.card-trip .card-trip-infos {
  padding: 5px;
  margin-right: 15px;
  // justify-content: space-between;
  // align-items: right;
  // position: relative;
}

.card-trip .card-trip-user {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: absolute;
  // right: 16px;
  left: 15px;
  // top: -20px;
  // width: 40px;
  margin-top: -150px;
    img{
      border-radius: 5%;
      // border: 3px solid grey;
    }
}

.beer-style {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #282F44;
}
.beer-rounded-image {
  width: 144px;
  height: 144px;
  margin-left: 8px;
  margin-top: -60px;
  border-radius: 6px;
  position: relative;
}

h5 {
strong{
  font-weight: 300px;
}

}

.table-border-right {
  color: #E6AF2E;
  border-right-color: white!important;
  width: 100px!important;
}

.table-borders-corners {
  border-radius: 10px!important;
}

.accordion{
  position: relative;
  .leftruler{
    position: absolute;
    width: 4px;
    height: 100%;
    left: 37px;
    z-index: 1;
    padding: 15px 0;

    .color{
      height: 100%;
      background-color: $orange;
      width: 100%;
      display: block;
    }
  }
  .card{
    border: none;

    .card-header{
      background: #fff;
      border: none;

      .step-title{
        color: $orange;
      }

      .fas{
        z-index: 2;

        &.fa-circle{
        color: $orange;

        }
      }
    }
    .show-beer{
      margin-left: 37px;
    }
  }

}
