.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}

// CHANGE THE COLOR IN FUNCTION OF PROGRESS OF TASKS => CODING TO DO

.accordion .btn .success {
  color: #78CD51;
}

.accordion .btn .warning {
  color: #F1C500;
}

.accordion .btn .info {
  color: #58C9F3;
}

// Show Card
.card-product-dash {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product-dash img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-dash h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-dash .card-product-infos-dash {
  padding: 16px;
}
