// Specific CSS for your home-page
// .background-banner{
//   height: 40vh;
//   background-image: url('');
//   background-size: cover;
//   position: relative;
//   z-index: 0;
// }

.background-banner-recipe {
  height: 15vh;
  background-color: grey;
  background-size: cover;
  justify-content: center;
}

.list {
  padding-inline-start: 0px!important;
  .items {
    list-style-type: none;
    padding: 10px;
    align: center;
    padding-right: 10px!important;
    padding-left: 10px!important;
  }
}

.container-beer {
  width: 100%;
  padding: 20px;
}

