<br>
<div class="col-md-12">
  <section class="profil-panel profils-widget">
    <p>Test test test</p>
    <p>Test test test</p>
    <p>Test test test</p>
    <p>Test test test</p>
  </section>
</div>
<!--/col-md-12 -->
<br>
<div class="col-md-12">
  <section class="profil-panel profils-widget">
    <p>Test test test</p>
    <p>Test test test</p>
    <p>Test test test</p>
    <p>Test test test</p>
  </section>
</div>
<!--/col-md-12 -->
