.navbar-pab {
  justify-content: space-between;
  background: $pab;
}

.navbar-pab .navbar-collapse {
  flex-grow: 0;
  .nav-link {
    color: #fff;
  }
}

.navbar-pab .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-toggler-icon{
background-image: asset-url('navbaricon.png')!important;
color: #fff;
}
