.navbar-pab {
  justify-content: space-between;
  align-items: baseline;
  background: $pab;

  h1{
    color: #fff;
    font-size: 1.8em;
    font-family: lato;
    flex-grow: 8;
  }
  .navbar-collapse {
    flex-grow: 0;
    .nav-link {
      color: #fff;
    }
  }
  .navbar-brand img{
    width: 69px;
    flex-grow: 1
  }
  .navbar-toggler{
    .navbar-toggler-icon{
      background-image: asset-url('navbaricon.png')!important;
      color: #fff;
      width: 3rem;
      height: 3rem;
      flex-grow: 1;
    }
  }
}


// Second Nav

.navbar-pab-navigation {
  justify-content: space-between;
  background: $yellow;
  margin-bottom: 0px;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

// Beer Nav

.navbar-pab-navigation-beer {
  justify-content: space-between;
  background: #fff;
  border-top: 2px solid #EEEEEE;
  margin-bottom: 0px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tabs-underlined-beer {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined-beer {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined-beer.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

// Beer Nav

.navbar-pab-navigation-brew {
  justify-content: space-between;
  background: #fff;
  border-top: 2px solid #EEEEEE;
  margin-bottom: 0px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tabs-underlined-brew {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined-brew {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined-brew.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}
