<div class="body-background" style="padding: 10px;">
<br>
<%# raise %>
<% @brew = Brew.find(params[:brew_id]) %>
<% @beer_id = @brew.beer_id %>
<% @beer = Beer.find(@beer_id) %>
<% @beer_fermentation_temp_target = @beer.fermentation_temperature_target.to_f / 100 %>
<% @beer_final_dens = @beer.final_density_target %>
<% @beer_initial_dens = @beer.initial_density_target %>
<%# @collect_date.sort %>
<%# raise %>
<div class="row">

  <div class="col-md-6">
    <section class="profil-panel profils-widget">
    <br>
      <div style="display: flex; justify-content: space-between;">
        <%= image_tag @beer.photo, width: 150, height: 150 %>
        <h5><strong>Ispindle du Brassin : </strong><%= @beer.name %>
      <br><br>
        <strong>Collecte Data Ispindle </strong>&nbsp;&nbsp;
        <div id="search_control">
              <p><strong>Nom du Ispindle : </strong><input type="text" id="nameIspindle" size="40" style="padding: 5px;"></p>
              <p><strong>Token API : </strong><input type="text" id="token" size="40" style="padding: 5px;"></p>
               <p><strong>Temp Target : </strong><input type="text" id="temp_target" size="40" style="padding: 5px;" value='<%= @beer_fermentation_temp_target %>'></p>
                <p><strong>Dens Target : </strong><input type="text" id="dens_target" size="40" style="padding: 5px;" value='<%= @beer_initial_dens %>'></p>
            </div>
            <br>
            <p><button id="clickme" class="btn btn-success btn-lg">
              Récupérer les données
            </button><p>
        </h5>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <section class="profil-panel profils-widget">
      <h5>Data from DB : Temperature</h5> <br>
      <canvas id="myChartTemp" style="background-color: #fff;"></canvas>
      <!-- appears here bitch ! -->
    </section>
  </div>
  <br>
  <br>
  <div class="col-md-6">
    <section class="profil-panel profils-widget">
      <h5>Data from DB : Density</h5> <br>
      <canvas id="myChartDens" style="background-color: #fff;"></canvas>
      <!-- appears here bitch ! -->
    </section>
  </div>
  <br>



<br>
</div>


<div style="background-color: #F0ECEB">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
