<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body" style="padding: 10px;">
          <h5 class="card-title text-center"><%= image_tag 'logo.png', width: '100' %></h5>
          <h4 style="text-align: center;">Collecte des données du Ispindle</h4>
          <div class="form-signin">
          <form action="#" style="padding: 5px;">
          <div class="form-label-group">
            <br>
            <% @num = Brew.find(params[:id]) %>

            <div class="form-actions">
              <%= link_to 'Cleaner la DB', destroy_all_ispindle_path(@brew), class: 'btn btn-danger btn-lg btn-block', id: 'destroy_all' %>
            </div>
            <div id="search_control" data-value='<%= @num.id %>'>
              <p><strong>Nom du Ispindle : </strong><input type="text" id="nameIspindle" size="40" style="padding: 5px;"></p>
              <p><strong>Token API : </strong><input type="text" id="token" size="40" style="padding: 5px;"></p>
            </div>
            <br>
            <p><button id="search_data" class="btn btn-success btn-lg">
              Récupérer les données
            </button><p>
            <button id="clickme" class="btn btn-primary btn-lg">
              Send to DB!
            </button></p>
          </div>
          </form>
          <%# raise %>
          <br>
          <div class="text-center" style="background-color: grey; color: black;">
            <ul class="list-unstyled" id="Ispindle">
              <!-- Append here -->
            </ul>
          </div>
          <br>
          <br>
          <div class="text-center" style="background-color: grey; color: black;">
            <ul class="list-unstyled-d" id="Ispindle">
              <!-- Append here -->
            </ul>
          </div>
          <br>
          <hr class="my-4">
          <div class="form-label-group">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<script>
  document.getElementById('clickme').addEventListener('click', function(e) {
    let mname = document.getElementById('nameIspindle').value
    let mtoken =document.getElementById('token').value
    let mnum = document.getElementById('search_control').dataset.value
    if (mname && mtoken && mnum) {
      window.open("/brews/:id/ispindles/parametrage/send_to_DB?mname="+mname+"&mtoken="+mtoken+"&mnum="+mnum,"_self")
    };
  });
</script>


